<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMMineSweeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E36E91C1BCB535D00DA62F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E36E9351BCB535E00DA62F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E36E9401BCB535E00DA62F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
